USE [master]
GO
/****** Object:  Database [INB201]    Script Date: 23/05/2014 2:25:09 PM ******/
CREATE DATABASE [INB201]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INB201', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\INB201.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INB201_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\INB201_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INB201].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INB201]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 23/05/2014 2:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fees](
	[FeeID] [int] NOT NULL,
	[MedicareNo] [varchar](50) NULL,
	[HealthcareNo] [varchar](50) NULL,
	[GrossCost] [float] NULL,
	[Discount] [float] NULL,
	[TotalCost] [float] NULL,
	[FeePaidDate] [datetime] NULL,
	[Comments] [varchar](255) NULL,
 CONSTRAINT [PK__Fees__B387B2092334133B] PRIMARY KEY CLUSTERED 
(
	[FeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HospitalResources]    Script Date: 23/05/2014 2:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HospitalResources](
	[HospitalResources] [int] NOT NULL,
	[RoomNumber] [varchar](20) NULL,
	[BedNo] [varchar](20) NULL,
	[Mri] [varchar](20) NULL,
	[Xray] [varchar](20) NULL,
	[OperatingTheater] [varchar](20) NULL,
 CONSTRAINT [PK_HospitalResources] PRIMARY KEY CLUSTERED 
(
	[HospitalResources] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 23/05/2014 2:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[FirstName] [varchar](255) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [varchar](50) NOT NULL,
	[StreetNo] [varchar](50) NULL,
	[StreetAddress] [varchar](50) NULL,
	[Suburb] [varchar](50) NULL,
	[PostCode] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[MobileNumber] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK__Patients__970EC34640EDE2B1] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 23/05/2014 2:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [varchar](255) NOT NULL,
	[Password] [varchar](65) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[MiddleName] [varchar](255) NULL,
	[LastName] [varchar](255) NOT NULL,
	[StaffTypeID] [int] NOT NULL,
	[OfficeNo] [varchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [varchar](50) NOT NULL,
	[StreetNo] [varchar](50) NULL,
	[StreetAddress] [varchar](50) NULL,
	[Suburb] [varchar](50) NULL,
	[Postcode] [varchar](50) NULL,
	[HomePhone] [varchar](50) NULL,
	[MobilePhone] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK__Staffs__96D4AAF73D761DF0] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaffType]    Script Date: 23/05/2014 2:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffType](
	[StaffTypeID] [int] NOT NULL,
	[StaffTypeName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Treatment]    Script Date: 23/05/2014 2:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Treatment](
	[TreatmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[FeeID] [int] NOT NULL,
	[XrayResults] [varchar](255) NULL,
	[MriResults] [varchar](255) NULL,
	[DoctorsNotes] [varchar](max) NULL,
	[NurseObservations] [varchar](max) NULL,
	[TreatmentDate] [varchar](255) NOT NULL,
	[TreatmentTime] [varchar](255) NULL,
	[Admitted] [bit] NOT NULL,
	[Discharged] [bit] NULL,
	[DischargeTime] [datetime] NULL,
	[HospitalResources] [int] NULL,
 CONSTRAINT [PK__Treatmen__1A57B7119C8B6489] PRIMARY KEY CLUSTERED 
(
	[TreatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [DF_Patients_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [DF_Patients_DateOfBirth]  DEFAULT (((22)/(5))/(2014)) FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_DateOfBirth]  DEFAULT (((22)/(5))/(2014)) FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [StaffTypeID] FOREIGN KEY([StaffTypeID])
REFERENCES [dbo].[StaffType] ([StaffTypeID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [StaffTypeID]
GO
ALTER TABLE [dbo].[Treatment]  WITH CHECK ADD  CONSTRAINT [FeeID] FOREIGN KEY([FeeID])
REFERENCES [dbo].[Fees] ([FeeID])
GO
ALTER TABLE [dbo].[Treatment] CHECK CONSTRAINT [FeeID]
GO
ALTER TABLE [dbo].[Treatment]  WITH CHECK ADD  CONSTRAINT [HospitalResource] FOREIGN KEY([TreatmentID])
REFERENCES [dbo].[Treatment] ([TreatmentID])
GO
ALTER TABLE [dbo].[Treatment] CHECK CONSTRAINT [HospitalResource]
GO
ALTER TABLE [dbo].[Treatment]  WITH CHECK ADD  CONSTRAINT [PatientID] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Treatment] CHECK CONSTRAINT [PatientID]
GO
ALTER TABLE [dbo].[Treatment]  WITH CHECK ADD  CONSTRAINT [StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Treatment] CHECK CONSTRAINT [StaffID]
GO
USE [master]
GO
